.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
	letter-spacing: 0.1em;
	/* font-family: 'Domine', serif; */

}

.nav-link {
	font-weight: 700;
	font-size: 1.25em;
}

#logo {
	height: 150px;
	width: 150px;
}

.wrapper {
	background:
		linear-gradient(rgba(7, 59, 76, 0.55),
			rgba(7, 59, 76, 0.55)), url(https://images.unsplash.com/photo-1508171997656-fdf7cf6c4df9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	/* background-position: left 0px bottom 60px; */
	height: 100vh;
	width: 100vw;
}

#landCont {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	max-width: 100vw;
}

.landText {
	margin-top: auto;
	margin-bottom: auto;

	text-align: center;
	color: #ffffff;
}


.landText h1 {
	letter-spacing: 0 !important;
	font-size: 6em;
	font-family: 'Montserrat Subrayada', sans-serif;
}

.landText h3 {
	font-size: 1.85em;
	margin: auto 15%;
}


#landCont {
	height: 85%;
	align-content: center;
}

@media (max-width: 414px) {
	#logCard {
		height: 280px;
		width: 80%;
		padding-left: 0;
		padding-right: 0;
		text-align: left;
	}

	#landCont {
		grid-gap: 10px;
	}

	.steps {
		justify-content: center;
	}





}

@media (max-width: 768px) {
	#landCont {
		display: grid;
		grid-template-columns: repeat(1, 100%) !important;
		grid-gap: 100px;
		max-width: 100vw;

		text-align: center;
	}

	#imgAside {
		padding-top: 10%;
	}

	.mainList {
		padding-left: 0;
	}

	#mechImg {

		height: 250px;
		width: 250px;
		margin: auto !important;
	}

	#logCard {
		height: 300px;
		width: 80%;
		padding-left: 0;
		padding-right: 0;
	}


	.steps {
		display: grid;
		grid-template-columns: repeat(1, 1fr) !important;
		grid-gap: 40px;


	}
}

#logCard {
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
}

.social_icon span:hover {
	color: white;
	cursor: pointer;
}

.card-header h3 {
	color: white;
}

.social_icon {
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-prepend span {
	width: 50px;
	background-color: #FFC312;
	color: black;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;

}

.remember {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn {
	color: black;
	background-color: #FFC312;
	width: 100px;
}

.login_btn:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}

#height {
	height: 100%;

}

.myButton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color: #79bbff;
	border-radius: 16px;
	border: 1px solid #337bc4;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Courier New;
	font-size: 17px;
	font-weight: bold;
	padding: 18px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #528ecc;
}

.myButton:hover {
	background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color: #378de5;
}

.myButton:active {
	position: relative;
	top: 1px;
}

#center {
	text-align: center;
}

#center h1 {
	text-align: center;
}

#center h4 {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 2%;
}

/* MAIN INFO SECTION */

.mainInfo {
	background-color: rgb(7, 59, 76);
	color: #ffffff;
	padding-bottom: 10%;
}

#flexEm {
	text-align: center;
	display: flex;
	justify-content: center;

}

.infoText {
	text-align: center;
	margin-top: auto;
	margin-bottom: 75px;
	padding-top: 40px;

}


.infoText h1 {
	letter-spacing: 0 !important;
	font-size: 3em;
	font-family: 'Montserrat Subrayada', sans-serif;

}

.mechImg {
	background:
		linear-gradient(rgba(0, 0, 0, 0.05),
			rgba(0, 0, 0, 0.05)), url(https://images.unsplash.com/photo-1508171997656-fdf7cf6c4df9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	/* background-position: left 0px bottom 60px; */
	height: 100%;
	width: 100%;
	margin-right: 50px;

}

/* .imgAside {
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 10%;
} */


#serviceBtn {
	background-color: #FFC312;
	width: 150px;
	color: #000;
	margin-right: 20px;
	margin-left: 20px;
	border: 3px solid #000000;
}

#regisBtn {
	border: 3px solid #FFC312;
	width: 150px;
	margin-right: 20px;
	margin-left: 20px;
	color: #ffffff;
}

.tabs {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	text-align: center;

}

.mainList li {
	list-style: none;
	margin: 20px auto;

}

.mainList li:before {
	background-image: url("wrench.png");
	height: 40px;
	width: 40px;
}

.mainList {
	margin: auto 10%;
}

.wrench {
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

#center {
	display: flex;
	justify-content: center;

}

/* HOW IT WORKS SECTION */


.steps {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	max-width: 100vw;
	text-align: center;
}

.howWorks .col {
	margin: auto 4%;
	text-align: center;
}

.howWorks p {
	margin-top: 6%;
	padding-right: 8%;
	padding-left: 8%;
	

}

#works h1 {
	text-align: center;
	margin: 5% auto;
}

.howWorks img {
	height: 200px;
	width: 200px;
}

/* FOOTER */

footer {
	background: #073b4c; 
	margin-top: 3%;
	
}




footer h3 {
	font-family: 'Montserrat Subrayada', sans-serif;
	letter-spacing: 0;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

/* members only page */
@media (max-width: 414px) {
	.tableSect {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	th {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	td {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}

.tableSect h1 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-bottom: 15px;
}

table {
	width: 100%;
	table-layout: fixed;
}

.tbl-header {
	background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
	height: 300px;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}

td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 12px;
	color: #fff;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.memberBody {
	background: -webkit-linear-gradient(left, #25b7c4, #073b4c);
	background: linear-gradient(to right, #25b7c4, #073b4c);
	font-family: 'Roboto', sans-serif;
}

.tableSect {
	margin: 50px;
	height: 80vh;
}





/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


/* REGISTRATION PAGE */

.register{
    background: #ffffff31;
    margin-top: 3%;
	padding: 3%;
	margin-bottom: 3%;
}

.regisBody {
	background: -webkit-linear-gradient(left, #25b7c4, #073b4c);

}


.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

/* LOGIN PAGE SECTION */

.logBody {
	background: -webkit-linear-gradient(left, #25b7c4, #073b4c);
}

.logBody .register {
	margin: 10% auto 10% auto;
}